.timeline {
  position: relative;
  z-index: 0;
}

.time-block {
  border-bottom: 1px solid #bbb;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color:  #ccc;
  box-sizing: border-box;
}
