/*stylelint-disable*/
// COLOUR DEFINITION
$black: #000000;
$white: #ffffff;
$grey: #F4F6F7;

// Brand key colours
$brand-primary-green: #00fdb7;
$brand-primary-blue: #130d31;
$brand-primary-light-blue: #39a0ed;
$brand-primary-pink: #f61067;
$brand-primary-yellow: #ffe812;
$brand-primary-purple: #ae00ff;

// Brand status colours
$brand-status-success: #4add90;
$brand-status-warning: #ff6d00;
$brand-status-error: #f61067;
$brand-status-info: #39a0ed;

// Brand alternate colours
$brand-blue: #39a0ed;
$brand-pink: #f61067;
$brand-yellow: #ffe812;
$brand-purple: #ae00ff;

// Brand Font colours
$font-primary: #130d31;
$font-secondary: #898698;

// Icon colours
$icon-primary: #130d31;
$icon-secondary: #898698;
$icon-vsuite: #00fdb7;
$icon-vfile: #39a0ed;

// Brand greys
$brand-grey: #D3D3D3;
$brand-grey-dark: $brand-primary-blue;
$brand-grey-light: #898698;
$brand-grey-lighter: #dedde2;
$brand-grey-lightest: #f1f1f3;

$vsuite: #54fabd;
$vreg: #fee811;
$vflow: #ae1cff;
$vfile: #39a0ed;

// GLOBAL COLOURS
$background: $grey;

// SEPARATOR COLOURS
$separator: #c4c2cb;

// FORM COLOURS
$input-background: $white;
$input-border: $brand-grey-lighter;
$input-colour: $brand-grey-lighter;
$label-colour: $black;

// VALIDATION COLOURS
$valid: $brand-status-success;
$error: $brand-status-error;
$warning: $brand-status-warning;

// TEXT COLOURS
$heading-primary: $brand-primary-blue;
$heading-secondary: $black;
$main-body: $black;
